@model CKEditor5.CKEditor5Model
@{
}


<script src="~/lib/ckeditor5/ckeditor.js"></script>
@Html.AntiForgeryToken()
<style>
    .ck.ck-link-form.ck-vertical-form {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 6px;
        padding: 5px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ck.ck-link-form.ck-vertical-form .ck-labeled-field-view {
        flex: 1 1 220px;
        width: 220px;
        min-width: 0 !important;
        max-width: 100%;
        margin: 0;
        margin-right: 6px;
    }

    .ck.ck-link-form.ck-vertical-form .ck-button-save,
    .ck.ck-link-form.ck-vertical-form .ck-button-cancel,
    .ck.ck-link-form.ck-vertical-form .fm-link-controls-row .ck-button {
        width: 24px;
        min-width: 24px;
        height: 24px;
        padding: 0;
        justify-content: center;
    }

    .ck.ck-link-form.ck-vertical-form .ck-button-save .ck-button__label,
    .ck.ck-link-form.ck-vertical-form .ck-button-cancel .ck-button__label {
        display: none;
    }

    .ck.ck-link-form.ck-vertical-form .ck-button-save,
    .ck.ck-link-form.ck-vertical-form .ck-button-cancel {
        border: 0;
        box-shadow: none;
        background: transparent;
        cursor: pointer;
    }

    .ck.ck-link-form.ck-vertical-form .ck-button-save:hover,
    .ck.ck-link-form.ck-vertical-form .ck-button-cancel:hover {
        background: #eef3f8;
        border-radius: 4px;
    }

    .ck.ck-link-form .fm-link-controls-row {
        display: flex;
        gap: 6px;
        margin-top: 0;
    }

    .ck.ck-link-form .fm-link-controls-row .ck-button {
        cursor: pointer;
    }

    .ck.ck-link-form .fm-link-controls-row .ck-button:hover {
        background: #eef3f8;
        border-radius: 4px;
    }

    /* Override CKEditor reset cursor:auto only inside link balloon controls. */
    .ck.ck-link-form .fm-link-controls-row .ck-button,
    .ck.ck-link-form .fm-link-controls-row .ck-button *,
    .ck.ck-link-form .ck-button-save,
    .ck.ck-link-form .ck-button-save *,
    .ck.ck-link-form .ck-button-cancel,
    .ck.ck-link-form .ck-button-cancel * {
        cursor: pointer !important;
    }
</style>
<textarea id="@Model.EditorElementId" name="ckeditor5">
    @Model.Text
</textarea>
<div style="margin-top: 10px;">
    <button type="button" class="btn btn-sm btn-outline-primary" onclick="window['openLibFileManager_@Model.InstanceId']()">
        Otevřít file manager (lib)
    </button>
    <button type="button" class="btn btn-sm btn-success" onclick="window['showEditedTextPreview_@Model.InstanceId']()">
        Uložit (test)
    </button>
</div>
<div id="editor-preview-wrap-@Model.InstanceId" style="margin-top: 14px; display: none;">
    <h6>Výstup editoru (test)</h6>
    <div id="editor-preview-@Model.InstanceId" style="border: 1px solid #ddd; padding: 12px; background: #fff;"></div>
</div>

<script>
(function () {
    var CKEditor = null;
    var linkPickerState = {
        active: false
    };
    var SetPath = '@Model.SetPath';
    var callbackName = '@Model.CallbackName';
    var pickerAllowExt = '@Model.PickerAllowExt';
    var pickerPopupName = '@Model.PickerPopupName';
    var editorInstanceId = '@Model.InstanceId';
    var FILE_MANAGER_ICON = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1.201 1c-.662 0-1.2.47-1.2 1.1v14.248c0 .64.533 1.152 1.185 1.152h6.623v-7.236L6.617 9.15a.694.694 0 0 0-.957-.033L1.602 13.55V2.553l14.798.003V9.7H18V2.1c0-.63-.547-1.1-1.2-1.1zm11.723 2.805a2.1 2.1 0 0 0-1.621.832 2.127 2.127 0 0 0 1.136 3.357 2.13 2.13 0 0 0 2.611-1.506 2.13 2.13 0 0 0-.76-2.244 2.13 2.13 0 0 0-1.366-.44Z"/><path d="M19.898 12.369v6.187a.844.844 0 0 1-.844.844h-8.719a.844.844 0 0 1-.843-.844v-7.312a.844.844 0 0 1 .843-.844h2.531a.84.84 0 0 1 .597.248l.838.852h4.75c.223 0 .441.114.6.272a.84.84 0 0 1 .247.597m-1.52.654-4.377.02-1.1-1.143H11v6h7.4l-.023-4.877Z"/></svg>';
    var FILE_MANAGER_ALL_ICON = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.2 3c-.584 0-1.145.23-1.557.643A2.2 2.2 0 0 0 2 5.199v8.719a2.194 2.194 0 0 0 2.2 2.195h11.624a2.194 2.194 0 0 0 2.196-2.195V7.621a2.194 2.194 0 0 0-2.195-2.2h-5.393l-1.237-2.06A.75.75 0 0 0 8.56 3zm0 1.488h3.935l1.236 2.06a.75.75 0 0 0 .64.362h5.813a.71.71 0 0 1 .707.71v6.298a.707.707 0 0 1-.707.707H4.2a.71.71 0 0 1-.71-.707V5.199a.71.71 0 0 1 .71-.71Z"></path></svg>';
    var DOWNLOAD_ICON = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 1.5a.75.75 0 0 1 .75.75v8.44l2.47-2.47a.75.75 0 1 1 1.06 1.06l-3.75 3.75a.75.75 0 0 1-1.06 0L5.72 9.28a.75.75 0 1 1 1.06-1.06l2.47 2.47V2.25A.75.75 0 0 1 10 1.5ZM3 14.25a.75.75 0 0 1 .75.75v1.25h12.5V15a.75.75 0 0 1 1.5 0v2a.75.75 0 0 1-.75.75H3a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 1 .75-.75Z"/></svg>';
    var OPEN_ICON = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M11.25 3a.75.75 0 0 1 .75-.75h4a.75.75 0 0 1 .75.75v4a.75.75 0 0 1-1.5 0V4.81l-5.72 5.72a.75.75 0 1 1-1.06-1.06l5.72-5.72H12a.75.75 0 0 1-.75-.75Z"/><path d="M4.5 4.25A2.25 2.25 0 0 0 2.25 6.5v9A2.25 2.25 0 0 0 4.5 17.75h9a2.25 2.25 0 0 0 2.25-2.25V10a.75.75 0 0 0-1.5 0v5.5a.75.75 0 0 1-.75.75h-9a.75.75 0 0 1-.75-.75v-9a.75.75 0 0 1 .75-.75H10a.75.75 0 0 0 0-1.5H4.5Z"/></svg>';

    function FileManagerToolbarPlugin(editor) {
        this.editor = editor;
    }

    FileManagerToolbarPlugin.prototype.init = function () {
        var editor = this.editor;
        editor.ui.componentFactory.add('fileManager', function (locale) {
            var ButtonViewCtor = resolveButtonViewConstructor(editor);
            if (!ButtonViewCtor) {
                console.warn('fileManager plugin: ButtonView constructor nenalezen.');
                return null;
            }

            var button = new ButtonViewCtor(locale);
            button.set({
                label: 'Souborový manager',
                icon: FILE_MANAGER_ICON,
                tooltip: true,
                withText: false
            });

            button.on('execute', function () {
                openNewFileManagerPicker();
            });

            return button;
        });

        editor.ui.componentFactory.add('fileManagerAll', function (locale) {
            var ButtonViewCtor = resolveButtonViewConstructor(editor);
            if (!ButtonViewCtor) {
                console.warn('fileManagerAll plugin: ButtonView constructor nenalezen.');
                return null;
            }

            var button = new ButtonViewCtor(locale);
            button.set({
                label: 'Souborový manager (vše)',
                icon: FILE_MANAGER_ALL_ICON,
                tooltip: true,
                withText: false
            });

            button.on('execute', function () {
                openNewFileManagerAllPicker();
            });

            return button;
        });
    };

    FileManagerToolbarPlugin.pluginName = 'FileManagerToolbarPlugin';

    ClassicEditor
        .create(document.querySelector('#@Model.EditorElementId'), buildEditorConfig())
        .then(function (editor) {
            CKEditor = editor;
            attachLinkFileManagerButton(editor);
        })
        .catch(function (error) {
            console.error(error);
        });

    window[callbackName] = function (zachyceneURL, fileName) {
        if (!CKEditor || !zachyceneURL) {
            return;
        }

        if (linkPickerState.active && setLinkDialogUrl(CKEditor, zachyceneURL)) {
            linkPickerState.active = false;
            return;
        }

        var selection = CKEditor.model.document.selection;
        if (selection && !selection.isCollapsed) {
            CKEditor.execute('link', zachyceneURL);
            return;
        }

        var resolvedFileName = fileName || getFileNameFromUrl(zachyceneURL) || zachyceneURL;
        if (isImageFileName(resolvedFileName)) {
            CKEditor.execute('insertImage', { source: zachyceneURL });
            return;
        }

        CKEditor.model.change(function (writer) {
            var insertAt = CKEditor.model.document.selection.getFirstPosition();
            writer.insertText(resolvedFileName, { linkHref: zachyceneURL }, insertAt);
        });
    };

    function buildEditorConfig() {
        return {
            extraPlugins: [FileManagerToolbarPlugin],
            link: {
                decorators: {
                    openInNewTab: {
                        mode: 'automatic',
                        callback: function (url) {
                            return !!url;
                        },
                        attributes: {
                            target: '_blank',
                            rel: 'noopener noreferrer'
                        }
                    },
                    forceDownload: {
                        mode: 'manual',
                        label: 'Vynutit stazeni souboru',
                        defaultValue: true,
                        attributes: {
                            download: 'download'
                        }
                    }
                }
            },
            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'underline',
                    'link',
                    'fileManagerAll',
                    'fontFamily',
                    'fontSize',
                    'fontColor',
                    'fontBackgroundColor',
                    'bulletedList',
                    'numberedList',
                    'todoList',
                    '|',
                    'outdent',
                    'indent',
                    '|',
                    'codeBlock',
                    'sourceEditing',
                    'fileManager',
                    'mediaEmbed',
                    'blockQuote',
                    'insertTable',
                    'specialCharacters',
                    'removeFormat',
                    'undo',
                    'redo'
                ]
            }
        };
    }

    function attachLinkFileManagerButton(editor) {
        var linkUI = editor.plugins.get('LinkUI');
        if (!linkUI) {
            return;
        }

        function getNativeDownloadSwitch(formEl) {
            if (!formEl) {
                return null;
            }
            return formEl.querySelector('button.ck-switchbutton');
        }

        function syncDownloadToggle(toggleButton, formEl) {
            var nativeSwitch = getNativeDownloadSwitch(formEl);
            var isDownload = nativeSwitch && nativeSwitch.getAttribute('aria-pressed') === 'true';

            if (isDownload) {
                toggleButton.classList.add('ck-on');
                toggleButton.classList.remove('ck-off');
                toggleButton.innerHTML = DOWNLOAD_ICON;
                toggleButton.title = 'Rezim: stazeni souboru';
            } else {
                toggleButton.classList.add('ck-off');
                toggleButton.classList.remove('ck-on');
                toggleButton.innerHTML = OPEN_ICON;
                toggleButton.title = 'Rezim: otevrit v novem okne';
            }
        }

        function hideNativeDownloadList(formEl) {
            var nativeSwitch = getNativeDownloadSwitch(formEl);
            if (!nativeSwitch) {
                return;
            }

            var list = nativeSwitch.closest('ul.ck-list');
            if (list) {
                list.style.display = 'none';
            }
        }

        function ensureDomControls() {
            var formEl = (linkUI.formView && linkUI.formView.element) || document.querySelector('.ck.ck-link-form');
            if (!formEl) {
                return false;
            }

            hideNativeDownloadList(formEl);

            var existingRow = formEl.querySelector('.fm-link-controls-row');
            if (existingRow) {
                var existingToggle = existingRow.querySelector('.fm-download-toggle');
                if (existingToggle) {
                    syncDownloadToggle(existingToggle, formEl);
                }
                return true;
            }

            var row = document.createElement('div');
            row.className = 'fm-link-controls-row';

            var btn = document.createElement('button');
            btn.type = 'button';
            btn.className = 'ck ck-button ck-off';
            btn.innerHTML = FILE_MANAGER_ALL_ICON;
            btn.title = 'Vybrat soubor z FileManageru';
            btn.setAttribute('aria-label', 'Vybrat soubor z FileManageru');
            btn.addEventListener('click', function () {
                linkPickerState.active = true;
                openNewFileManagerAllPicker();
            });

            row.appendChild(btn);

            var toggle = document.createElement('button');
            toggle.type = 'button';
            toggle.className = 'ck ck-button ck-off fm-download-toggle';
            toggle.setAttribute('aria-label', 'Prepinac stazeni nebo otevreni');
            toggle.addEventListener('click', function () {
                var nativeSwitch = getNativeDownloadSwitch(formEl);
                if (nativeSwitch) {
                    nativeSwitch.click();
                }
                syncDownloadToggle(toggle, formEl);
            });
            syncDownloadToggle(toggle, formEl);
            row.appendChild(toggle);

            formEl.appendChild(row);
            return true;
        }

        // Link form can be created lazily after editor init.
        ensureDomControls();
        setTimeout(ensureDomControls, 0);
        setTimeout(ensureDomControls, 250);
        setTimeout(ensureDomControls, 800);

        if (linkUI._balloon) {
            linkUI._balloon.on('change:visibleView', function () {
                if (linkUI._balloon.visibleView === linkUI.formView) {
                    ensureDomControls();
                }
            });
        }
    }

    function setLinkDialogUrl(editor, url) {
        var linkUI = editor.plugins.get('LinkUI');
        var formView = linkUI && linkUI.formView ? linkUI.formView : null;

        if (formView && formView.urlInputView && formView.urlInputView.fieldView) {
            try {
                formView.urlInputView.fieldView.value = url;
            } catch (e) {
                // fallback below
            }

            if (formView.urlInputView.fieldView.element) {
                var boundInput = formView.urlInputView.fieldView.element.querySelector('input');
                if (boundInput) {
                    boundInput.value = url;
                    boundInput.dispatchEvent(new Event('input', { bubbles: true }));
                    boundInput.dispatchEvent(new Event('change', { bubbles: true }));
                    return true;
                }
            }
        }

        var input = document.querySelector('.ck.ck-link-form input.ck-input-text');
        if (input) {
            input.value = url;
            input.dispatchEvent(new Event('input', { bubbles: true }));
            input.dispatchEvent(new Event('change', { bubbles: true }));
            return true;
        }

        return false;
    }

    function resolveButtonViewConstructor(editor) {
        var candidates = ['undo', 'redo', 'bold', 'italic', 'link'];

        for (var i = 0; i < candidates.length; i++) {
            var candidate = candidates[i];
            try {
                var seed = editor.ui.componentFactory.create(candidate);
                if (seed && seed.constructor) {
                    var ctor = seed.constructor;
                    if (typeof seed.destroy === 'function') {
                        seed.destroy();
                    }
                    return ctor;
                }
            } catch (e) {
                // try next candidate
            }
        }

        return null;
    }

    function openNewFileManagerPicker() {
        var allowExt = pickerAllowExt;
        var root = resolveRootPath();
        var url = '/FileManager'
            + '?picker=' + encodeURIComponent(encodeFileManagerParam('1'))
            + '&allowExt=' + encodeURIComponent(encodeFileManagerParam(allowExt))
            + '&callback=' + encodeURIComponent(encodeFileManagerParam(callbackName))
            + '&root=' + encodeURIComponent(encodeFileManagerParam(root));
        var features = 'width=1280,height=820,resizable=yes,scrollbars=yes';
        var popup = window.open(url, pickerPopupName + '_' + editorInstanceId, features);
        if (!popup) {
            alert('Popup okno bylo zablokováno prohlížečem.');
        }
    }

    function openNewFileManagerAllPicker() {
        var root = resolveRootPath();
        var url = '/FileManager'
            + '?picker=' + encodeURIComponent(encodeFileManagerParam('1'))
            + '&callback=' + encodeURIComponent(encodeFileManagerParam(callbackName))
            + '&root=' + encodeURIComponent(encodeFileManagerParam(root));
        var features = 'width=1280,height=820,resizable=yes,scrollbars=yes';
        var popup = window.open(url, pickerPopupName + '_' + editorInstanceId, features);
        if (!popup) {
            alert('Popup okno bylo zablokováno prohlížečem.');
        }
    }

    function isImageFileName(fileName) {
        var lower = String(fileName || '').toLowerCase();
        return /\.(png|jpe?g|gif|bmp|webp|svg)$/i.test(lower);
    }

    function getFileNameFromUrl(url) {
        try {
            var parsed = new URL(url, window.location.origin);
            var path = parsed.pathname || '';
            var idx = path.lastIndexOf('/');
            return idx >= 0 ? decodeURIComponent(path.substring(idx + 1)) : decodeURIComponent(path);
        } catch (e) {
            return '';
        }
    }

    function openLibFileManager() {
        var url = '/FileManager?root=' + encodeURIComponent(encodeFileManagerParam('lib'));
        window.open(url, 'FileManagerLib', 'width=1280,height=820,resizable=yes,scrollbars=yes');
    }

    function showEditedTextPreview(instanceId) {
        if (!CKEditor) {
            return;
        }

        var html = CKEditor.getData();
        var wrap = document.getElementById('editor-preview-wrap-' + instanceId);
        var preview = document.getElementById('editor-preview-' + instanceId);
        if (!wrap || !preview) {
            return;
        }

        preview.innerHTML = html;
        wrap.style.display = 'block';
    }

    function resolveRootPath() {
        var raw = SetPath || '';
        return decodeFileManagerParam(raw);
    }

    function encodeFileManagerParam(value) {
        return 'b64:' + toBase64UrlUtf8(String(value == null ? '' : value));
    }

    function decodeFileManagerParam(value) {
        var raw = String(value == null ? '' : value).trim();
        if (!raw) {
            return '';
        }

        if (raw.indexOf('b64:') === 0) {
            return fromBase64UrlUtf8(raw.substring(4)) || '';
        }

        // Legacy compatibility: historical plain Base64 SetPath.
        if (raw.length >= 8 && raw.length % 4 === 0 && /^[A-Za-z0-9+/]+={0,2}$/.test(raw)) {
            try {
                var decodedLegacy = atob(raw);
                if (decodedLegacy && decodedLegacy.trim()) {
                    return decodedLegacy;
                }
            } catch (e) {
                // keep raw
            }
        }

        return raw;
    }

    function toBase64UrlUtf8(value) {
        var bytes = new TextEncoder().encode(value);
        var binary = '';
        for (var i = 0; i < bytes.length; i++) {
            binary += String.fromCharCode(bytes[i]);
        }

        return btoa(binary).replace(/\+/g, '-').replace(/\//g, '_').replace(/=+$/g, '');
    }

    function fromBase64UrlUtf8(value) {
        if (!value) {
            return '';
        }

        try {
            var normalized = value.replace(/-/g, '+').replace(/_/g, '/');
            var padLen = normalized.length % 4 === 0 ? 0 : 4 - (normalized.length % 4);
            var padded = normalized + '='.repeat(padLen);
            var binary = atob(padded);
            var bytes = new Uint8Array(binary.length);
            for (var i = 0; i < binary.length; i++) {
                bytes[i] = binary.charCodeAt(i);
            }
            return new TextDecoder().decode(bytes);
        } catch (e) {
            return null;
        }
    }

    window['openLibFileManager_' + editorInstanceId] = openLibFileManager;
    window['showEditedTextPreview_' + editorInstanceId] = function () {
        showEditedTextPreview(editorInstanceId);
    };
})();
</script>

