<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/lib/FileManager/js/css/jquery.contextMenu.css" rel="stylesheet" />
    <link href="~/lib/FileManager/js/css/jquery-ui.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/FileManager/js/jquery-ui.min.js"></script>

    <script src="~/lib/FileManager/js/jquery.contextMenu.js"></script>
    <script src="~/lib/FileManager/js/jquery.ui.position.js"></script>
    <script src="~/lib/FileManager/js/FileManager.js"></script>



    <script type="text/javascript">
    //    var Path = "<%# this.UserPath%>";


        var imgDrag = document.createElement("img");
        var imgDragFile = "@Model.URLDirectory/lib/FileManager/Icony/DDfile.png";
        var imgDragFolder = "@Model.URLDirectory/lib/FileManager/Icony/folder.png";
        var imgDragFileFolder = "@Model.URLDirectory/lib/FileManager/Icony/DDfileFolder.png";
        var imgDragMultiFile = "@Model.URLDirectory/lib/FileManager/Icony/DDmultiFile.png";
        var imgDragMultiFolder = "@Model.URLDirectory/lib/FileManager/Icony/DDmultiFolder.png";
       

    </script>
    <style type="text/css">
        .nu-selection-box {
            border: 2px solid red;
        }

        .nu-selected {
            background-color: gainsboro;
        }
        .activeM:hover{ background-color:dimgrey;color:white;}
        .activeFIX { background-color:dimgrey;color:white;}
        #FMC {
            width:100%;
            height:100vh;
        }
        #fmcHead{
            border-bottom:1px solid grey;
            margin-bottom:10px;
        }
        #fmcHead span {
            
            margin:5px 5px 5px 10px;
        }

        
    </style>
</head>
<body>

    @RenderBody()




</body>
</html>


