@model FileManager.Models.ItemFM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


        <div style="float:left; width:320px;" class="activeM @Model.CSS_context_menu" onclick="@Model.OnClick" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
            
            <div style="float:left;padding-left:20px;"><div class="Icona " style='background-image:url(@Model.URL_ikony); background-repeat: no-repeat; background-size: 50px 50px;margin-right:10px; width:50px; height:50px;'></div></div>
            <div style="float:left; margin-top:10px; max-width:300px;  " class="Drag">
                <input ID="NameItem" class="FullName" value='@Model.FullName' runat="server" type="hidden" />
                <div class="NameSelektor" style="float:right;" >@Model.NameZobrazeni</div>
                <input Id="Hidden1" Visible="true" type="hidden" class="Koncovka" runat="server" value='@Model.Koncovka' />
            </div>
            <div style="float:right; margin-top:10px;  width:100px; "><asp:Label ID="Label3" runat="server" Text="">@Model.Velikost</asp:Label></div>
            <div style="float:right; margin-top:10px;  width:80px;margin-left:10px; margin-right:10px;  "><asp:Label ID="Label4" runat="server" Text='@Model.DatumVytvoreni'></asp:Label></div>

        </div>
